Constraint Block: branch_flow_direction
p_out[0,0]*p_in[0,0]  <=  0
p_out[0,1]*p_in[0,1]  <=  0
p_out[0,2]*p_in[0,2]  <=  0
p_out[0,3]*p_in[0,3]  <=  0
p_out[0,4]*p_in[0,4]  <=  0
p_out[0,5]*p_in[0,5]  <=  0
p_out[0,6]*p_in[0,6]  <=  0
p_out[0,7]*p_in[0,7]  <=  0
p_out[0,8]*p_in[0,8]  <=  0
p_out[1,0]*p_in[1,0]  <=  0
p_out[1,1]*p_in[1,1]  <=  0
p_out[1,2]*p_in[1,2]  <=  0
p_out[1,3]*p_in[1,3]  <=  0
p_out[1,4]*p_in[1,4]  <=  0
p_out[1,5]*p_in[1,5]  <=  0
p_out[1,6]*p_in[1,6]  <=  0
p_out[1,7]*p_in[1,7]  <=  0
p_out[1,8]*p_in[1,8]  <=  0
p_out[2,0]*p_in[2,0]  <=  0
p_out[2,1]*p_in[2,1]  <=  0
p_out[2,2]*p_in[2,2]  <=  0
p_out[2,3]*p_in[2,3]  <=  0
p_out[2,4]*p_in[2,4]  <=  0
p_out[2,5]*p_in[2,5]  <=  0
p_out[2,6]*p_in[2,6]  <=  0
p_out[2,7]*p_in[2,7]  <=  0
p_out[2,8]*p_in[2,8]  <=  0
p_out[3,0]*p_in[3,0]  <=  0
p_out[3,1]*p_in[3,1]  <=  0
p_out[3,2]*p_in[3,2]  <=  0
p_out[3,3]*p_in[3,3]  <=  0
p_out[3,4]*p_in[3,4]  <=  0
p_out[3,5]*p_in[3,5]  <=  0
p_out[3,6]*p_in[3,6]  <=  0
p_out[3,7]*p_in[3,7]  <=  0
p_out[3,8]*p_in[3,8]  <=  0
p_out[4,0]*p_in[4,0]  <=  0
p_out[4,1]*p_in[4,1]  <=  0
p_out[4,2]*p_in[4,2]  <=  0
p_out[4,3]*p_in[4,3]  <=  0
p_out[4,4]*p_in[4,4]  <=  0
p_out[4,5]*p_in[4,5]  <=  0
p_out[4,6]*p_in[4,6]  <=  0
p_out[4,7]*p_in[4,7]  <=  0
p_out[4,8]*p_in[4,8]  <=  0
p_out[5,0]*p_in[5,0]  <=  0
p_out[5,1]*p_in[5,1]  <=  0
p_out[5,2]*p_in[5,2]  <=  0
p_out[5,3]*p_in[5,3]  <=  0
p_out[5,4]*p_in[5,4]  <=  0
p_out[5,5]*p_in[5,5]  <=  0
p_out[5,6]*p_in[5,6]  <=  0
p_out[5,7]*p_in[5,7]  <=  0
p_out[5,8]*p_in[5,8]  <=  0
p_out[6,0]*p_in[6,0]  <=  0
p_out[6,1]*p_in[6,1]  <=  0
p_out[6,2]*p_in[6,2]  <=  0
p_out[6,3]*p_in[6,3]  <=  0
p_out[6,4]*p_in[6,4]  <=  0
p_out[6,5]*p_in[6,5]  <=  0
p_out[6,6]*p_in[6,6]  <=  0
p_out[6,7]*p_in[6,7]  <=  0
p_out[6,8]*p_in[6,8]  <=  0
p_out[7,0]*p_in[7,0]  <=  0
p_out[7,1]*p_in[7,1]  <=  0
p_out[7,2]*p_in[7,2]  <=  0
p_out[7,3]*p_in[7,3]  <=  0
p_out[7,4]*p_in[7,4]  <=  0
p_out[7,5]*p_in[7,5]  <=  0
p_out[7,6]*p_in[7,6]  <=  0
p_out[7,7]*p_in[7,7]  <=  0
p_out[7,8]*p_in[7,8]  <=  0
p_out[8,0]*p_in[8,0]  <=  0
p_out[8,1]*p_in[8,1]  <=  0
p_out[8,2]*p_in[8,2]  <=  0
p_out[8,3]*p_in[8,3]  <=  0
p_out[8,4]*p_in[8,4]  <=  0
p_out[8,5]*p_in[8,5]  <=  0
p_out[8,6]*p_in[8,6]  <=  0
p_out[8,7]*p_in[8,7]  <=  0
p_out[8,8]*p_in[8,8]  <=  0

Constraint Block: forward_branch_flow
p_out[0,3] - p_in[0,3]  ==  17.361111111111114*(theta[0] - theta[3])
p_out[3,4] - p_in[3,4]  ==  10.869565217391305*(theta[3] - theta[4])
p_out[4,5] - p_in[4,5]  ==  5.88235294117647*(theta[4] - theta[5])
p_out[2,5] - p_in[2,5]  ==  17.064846416382252*(theta[2] - theta[5])
p_out[5,6] - p_in[5,6]  ==  9.920634920634921*(theta[5] - theta[6])
p_out[6,7] - p_in[6,7]  ==  13.88888888888889*(theta[6] - theta[7])
p_out[7,1] - p_in[7,1]  ==  16.0*(theta[7] - theta[1])
p_out[7,8] - p_in[7,8]  ==  6.211180124223603*(theta[7] - theta[8])
p_out[8,3] - p_in[8,3]  ==  11.76470588235294*(theta[8] - theta[3])

Constraint Block: backward_branch_flow
p_in[3,0] - p_out[3,0]  ==  17.361111111111114*(theta[0] - theta[3])
p_in[4,3] - p_out[4,3]  ==  10.869565217391305*(theta[3] - theta[4])
p_in[5,4] - p_out[5,4]  ==  5.88235294117647*(theta[4] - theta[5])
p_in[5,2] - p_out[5,2]  ==  17.064846416382252*(theta[2] - theta[5])
p_in[6,5] - p_out[6,5]  ==  9.920634920634921*(theta[5] - theta[6])
p_in[7,6] - p_out[7,6]  ==  13.88888888888889*(theta[6] - theta[7])
p_in[1,7] - p_out[1,7]  ==  16.0*(theta[7] - theta[1])
p_in[8,7] - p_out[8,7]  ==  6.211180124223603*(theta[7] - theta[8])
p_in[3,8] - p_out[3,8]  ==  11.76470588235294*(theta[8] - theta[3])

Constraint Block: power_branch_flow
17.361111111111114*(theta[0] - theta[3])  <=  2.500000000000015
-2.500000000000015  <=  17.361111111111114*(theta[0] - theta[3])
10.869565217391305*(theta[3] - theta[4])  <=  2.500000000000015
-2.500000000000015  <=  10.869565217391305*(theta[3] - theta[4])
5.88235294117647*(theta[4] - theta[5])  <=  1.499999999999985
-1.499999999999985  <=  5.88235294117647*(theta[4] - theta[5])
17.064846416382252*(theta[2] - theta[5])  <=  3.0000000000000298
-3.0000000000000298  <=  17.064846416382252*(theta[2] - theta[5])
9.920634920634921*(theta[5] - theta[6])  <=  1.499999999999985
-1.499999999999985  <=  9.920634920634921*(theta[5] - theta[6])
13.88888888888889*(theta[6] - theta[7])  <=  2.500000000000015
-2.500000000000015  <=  13.88888888888889*(theta[6] - theta[7])
16.0*(theta[7] - theta[1])  <=  2.500000000000015
-2.500000000000015  <=  16.0*(theta[7] - theta[1])
6.211180124223603*(theta[7] - theta[8])  <=  2.500000000000015
-2.500000000000015  <=  6.211180124223603*(theta[7] - theta[8])
11.76470588235294*(theta[8] - theta[3])  <=  2.500000000000015
-2.500000000000015  <=  11.76470588235294*(theta[8] - theta[3])

Constraint Block: power_balance_constraints
PG[0]  ==  p_out[0,0] - p_in[0,0] + p_out[0,1] - p_in[0,1] + p_out[0,2] - p_in[0,2] + p_out[0,3] - p_in[0,3] + p_out[0,4] - p_in[0,4] + p_out[0,5] - p_in[0,5] + p_out[0,6] - p_in[0,6] + p_out[0,7] - p_in[0,7] + p_out[0,8] - p_in[0,8]
PG[1]  ==  p_out[1,0] - p_in[1,0] + p_out[1,1] - p_in[1,1] + p_out[1,2] - p_in[1,2] + p_out[1,3] - p_in[1,3] + p_out[1,4] - p_in[1,4] + p_out[1,5] - p_in[1,5] + p_out[1,6] - p_in[1,6] + p_out[1,7] - p_in[1,7] + p_out[1,8] - p_in[1,8]
PG[2]  ==  p_out[2,0] - p_in[2,0] + p_out[2,1] - p_in[2,1] + p_out[2,2] - p_in[2,2] + p_out[2,3] - p_in[2,3] + p_out[2,4] - p_in[2,4] + p_out[2,5] - p_in[2,5] + p_out[2,6] - p_in[2,6] + p_out[2,7] - p_in[2,7] + p_out[2,8] - p_in[2,8]
p_out[3,0] - p_in[3,0] + p_out[3,1] - p_in[3,1] + p_out[3,2] - p_in[3,2] + p_out[3,3] - p_in[3,3] + p_out[3,4] - p_in[3,4] + p_out[3,5] - p_in[3,5] + p_out[3,6] - p_in[3,6] + p_out[3,7] - p_in[3,7] + p_out[3,8] - p_in[3,8]  ==  -0.0
p_out[4,0] - p_in[4,0] + p_out[4,1] - p_in[4,1] + p_out[4,2] - p_in[4,2] + p_out[4,3] - p_in[4,3] + p_out[4,4] - p_in[4,4] + p_out[4,5] - p_in[4,5] + p_out[4,6] - p_in[4,6] + p_out[4,7] - p_in[4,7] + p_out[4,8] - p_in[4,8]  ==  -0.9
p_out[5,0] - p_in[5,0] + p_out[5,1] - p_in[5,1] + p_out[5,2] - p_in[5,2] + p_out[5,3] - p_in[5,3] + p_out[5,4] - p_in[5,4] + p_out[5,5] - p_in[5,5] + p_out[5,6] - p_in[5,6] + p_out[5,7] - p_in[5,7] + p_out[5,8] - p_in[5,8]  ==  -0.0
p_out[6,0] - p_in[6,0] + p_out[6,1] - p_in[6,1] + p_out[6,2] - p_in[6,2] + p_out[6,3] - p_in[6,3] + p_out[6,4] - p_in[6,4] + p_out[6,5] - p_in[6,5] + p_out[6,6] - p_in[6,6] + p_out[6,7] - p_in[6,7] + p_out[6,8] - p_in[6,8]  ==  -1.0
p_out[7,0] - p_in[7,0] + p_out[7,1] - p_in[7,1] + p_out[7,2] - p_in[7,2] + p_out[7,3] - p_in[7,3] + p_out[7,4] - p_in[7,4] + p_out[7,5] - p_in[7,5] + p_out[7,6] - p_in[7,6] + p_out[7,7] - p_in[7,7] + p_out[7,8] - p_in[7,8]  ==  -0.0
p_out[8,0] - p_in[8,0] + p_out[8,1] - p_in[8,1] + p_out[8,2] - p_in[8,2] + p_out[8,3] - p_in[8,3] + p_out[8,4] - p_in[8,4] + p_out[8,5] - p_in[8,5] + p_out[8,6] - p_in[8,6] + p_out[8,7] - p_in[8,7] + p_out[8,8] - p_in[8,8]  ==  -1.25

Constraint Block: generator_limits
0.099999999999 - PG[0]  <=  0
PG[0] - 2.500000000001  <=  0
0.099999999999 - PG[1]  <=  0
PG[1] - 3.000000000001  <=  0
0.099999999999 - PG[2]  <=  0
PG[2] - 2.700000000001  <=  0

Constraint Block: carbon_emission_flow
(p_in[0,0] + p_in[0,1] + p_in[0,2] + p_in[0,3] + p_in[0,4] + p_in[0,5] + p_in[0,6] + p_in[0,7] + p_in[0,8] + PG[0])*w[0]  ==  p_in[0,0]*w[0] + p_in[0,1]*w[1] + p_in[0,2]*w[2] + p_in[0,3]*w[3] + p_in[0,4]*w[4] + p_in[0,5]*w[5] + p_in[0,6]*w[6] + p_in[0,7]*w[7] + p_in[0,8]*w[8] + 0.3*PG[0]
(p_in[1,0] + p_in[1,1] + p_in[1,2] + p_in[1,3] + p_in[1,4] + p_in[1,5] + p_in[1,6] + p_in[1,7] + p_in[1,8] + PG[1])*w[1]  ==  p_in[1,0]*w[0] + p_in[1,1]*w[1] + p_in[1,2]*w[2] + p_in[1,3]*w[3] + p_in[1,4]*w[4] + p_in[1,5]*w[5] + p_in[1,6]*w[6] + p_in[1,7]*w[7] + p_in[1,8]*w[8] + 0.5*PG[1]
(p_in[2,0] + p_in[2,1] + p_in[2,2] + p_in[2,3] + p_in[2,4] + p_in[2,5] + p_in[2,6] + p_in[2,7] + p_in[2,8] + PG[2])*w[2]  ==  p_in[2,0]*w[0] + p_in[2,1]*w[1] + p_in[2,2]*w[2] + p_in[2,3]*w[3] + p_in[2,4]*w[4] + p_in[2,5]*w[5] + p_in[2,6]*w[6] + p_in[2,7]*w[7] + p_in[2,8]*w[8] + 0.8*PG[2]
(p_in[3,0] + p_in[3,1] + p_in[3,2] + p_in[3,3] + p_in[3,4] + p_in[3,5] + p_in[3,6] + p_in[3,7] + p_in[3,8] + PG[3])*w[3]  ==  p_in[3,0]*w[0] + p_in[3,1]*w[1] + p_in[3,2]*w[2] + p_in[3,3]*w[3] + p_in[3,4]*w[4] + p_in[3,5]*w[5] + p_in[3,6]*w[6] + p_in[3,7]*w[7] + p_in[3,8]*w[8] + 0.0*PG[3]
(p_in[4,0] + p_in[4,1] + p_in[4,2] + p_in[4,3] + p_in[4,4] + p_in[4,5] + p_in[4,6] + p_in[4,7] + p_in[4,8] + PG[4])*w[4]  ==  p_in[4,0]*w[0] + p_in[4,1]*w[1] + p_in[4,2]*w[2] + p_in[4,3]*w[3] + p_in[4,4]*w[4] + p_in[4,5]*w[5] + p_in[4,6]*w[6] + p_in[4,7]*w[7] + p_in[4,8]*w[8] + 0.0*PG[4]
(p_in[5,0] + p_in[5,1] + p_in[5,2] + p_in[5,3] + p_in[5,4] + p_in[5,5] + p_in[5,6] + p_in[5,7] + p_in[5,8] + PG[5])*w[5]  ==  p_in[5,0]*w[0] + p_in[5,1]*w[1] + p_in[5,2]*w[2] + p_in[5,3]*w[3] + p_in[5,4]*w[4] + p_in[5,5]*w[5] + p_in[5,6]*w[6] + p_in[5,7]*w[7] + p_in[5,8]*w[8] + 0.0*PG[5]
(p_in[6,0] + p_in[6,1] + p_in[6,2] + p_in[6,3] + p_in[6,4] + p_in[6,5] + p_in[6,6] + p_in[6,7] + p_in[6,8] + PG[6])*w[6]  ==  p_in[6,0]*w[0] + p_in[6,1]*w[1] + p_in[6,2]*w[2] + p_in[6,3]*w[3] + p_in[6,4]*w[4] + p_in[6,5]*w[5] + p_in[6,6]*w[6] + p_in[6,7]*w[7] + p_in[6,8]*w[8] + 0.0*PG[6]
(p_in[7,0] + p_in[7,1] + p_in[7,2] + p_in[7,3] + p_in[7,4] + p_in[7,5] + p_in[7,6] + p_in[7,7] + p_in[7,8] + PG[7])*w[7]  ==  p_in[7,0]*w[0] + p_in[7,1]*w[1] + p_in[7,2]*w[2] + p_in[7,3]*w[3] + p_in[7,4]*w[4] + p_in[7,5]*w[5] + p_in[7,6]*w[6] + p_in[7,7]*w[7] + p_in[7,8]*w[8] + 0.0*PG[7]
(p_in[8,0] + p_in[8,1] + p_in[8,2] + p_in[8,3] + p_in[8,4] + p_in[8,5] + p_in[8,6] + p_in[8,7] + p_in[8,8] + PG[8])*w[8]  ==  p_in[8,0]*w[0] + p_in[8,1]*w[1] + p_in[8,2]*w[2] + p_in[8,3]*w[3] + p_in[8,4]*w[4] + p_in[8,5]*w[5] + p_in[8,6]*w[6] + p_in[8,7]*w[7] + p_in[8,8]*w[8] + 0.0*PG[8]

Constraint Block: carbon_cap
0.0*w[0]  <=  0.8
0.0*w[1]  <=  0.8
0.0*w[2]  <=  0.8
0.0*w[3]  <=  0.8
0.9*w[4]  <=  0.8
0.0*w[5]  <=  0.8
w[6]  <=  0.8
0.0*w[7]  <=  0.8
1.25*w[8]  <=  0.8

